/target/
/config.json
/.classpath
/.project
/.dbeaver
/.settings
/builds
/bin/
/output/
/src/main/resources/
/src/main/resources/database/
/src/main/resources/misc/
/lib/
/src/main/java/com/xharlock/holo/experimental/
/cookie.txt
/rulesets/
/.eclipse-pmd
/src/main/java/com/xharlock/holo/development/
