/target/
/botConfig.json
/.dbeaver
/builds
/bin/
/output/
/src/main/resources/
/src/main/resources/database/
/src/main/resources/misc/
/lib/
/src/main/java/dev/zawarudo/holo/experimental/
/cookie.txt
/rulesets/
/.eclipse-pmd
/src/main/resources/misc/delete.json
/src/main/java/dev/zawarudo/holo/development/
/.idea/
/TODO.md
/config.json