name: GitHub holobot

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the main branch on GitHub
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean package

      # Necessary since JAR file has variable version, e.g. holobot-3.1.1.jar
      - name: Get the version
        id: get_version
        run: echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: Set JAR filename
        run: echo "JAR_NAME=holobot-${{ env.VERSION }}.jar" >> $GITHUB_ENV

      - name: Move JAR to VM
        uses: garygrossgarten/github-action-scp@release
        with:
          atomicPut: true
          local: target/${{ env.JAR_NAME }}
          remote: holo/${{ env.JAR_NAME }}
          host: ${{ secrets.VM_IP_ADDRESS }}
          username: ${{ secrets.VM_USER_NAME }}
          privateKey: ${{ secrets.SSH_KEY }}

      - name: Update config.json
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: jq '.version = "${{ env.VERSION }}"' ~/holo/config.json > ~/holo/temp_config.json && mv ~/holo/temp_config.json ~/holo/config.json
          host: ${{ secrets.VM_IP_ADDRESS }}
          username: ${{ secrets.VM_USER_NAME }}
          privateKey: ${{ secrets.SSH_KEY }}

      - name: Restart Holo
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: sudo systemctl restart holobot
          host: ${{ secrets.VM_IP_ADDRESS }}
          username: ${{ secrets.VM_USER_NAME }}
          privateKey: ${{ secrets.SSH_KEY }}